################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinhaAppMvcCompleta/.vs/MinhaAppMvcCompleta
/.vs
/MinhaAppMvcCompleta/src/DevIO.App/bin/Debug/netcoreapp3.0
MinhaAppMvcCompleta/src/DevIO.App/appsettings.json
