################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinhaAppMvcCompleta/.vs/MinhaAppMvcCompleta
/.vs
/MinhaAppMvcCompleta/src/DevIO.App/bin/Debug/netcoreapp3.0
MinhaAppMvcCompleta/src/DevIO.App/appsettings.json
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.Views.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.Views.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.Views.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.App.Views.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/PubTmp/Out/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.Data/obj/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.Data/obj/Release/netcoreapp3.0/DevIO.Data.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.Data/obj/Debug/netcoreapp3.0/DevIO.Data.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.Business/obj/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.Business/obj/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.Data/obj/Release/netcoreapp3.0/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.Data/obj/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.Data/obj/Release/netcoreapp3.0/DevIO.Data.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.Data/obj/Debug/netcoreapp3.0/DevIO.Data.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.Data/bin/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.Business/obj/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.Business/obj/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.Business/obj/Release/netcoreapp3.0/DevIO.Business.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.Business/obj/Debug/netcoreapp3.0/DevIO.Business.csprojAssemblyReference.cache
MinhaAppMvcCompleta/src/DevIO.Business/bin/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.Business/bin/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.App.Views.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Business.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Business.pdb
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.pdb
MinhaAppMvcCompleta/src/DevIO.App/obj/Release/netcoreapp3.0/DevIO.App.Views.dll
MinhaAppMvcCompleta/src/DevIO.App/bin/Release/netcoreapp3.0/DevIO.Data.pdb
