@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<p>

</p>

@section Styles
{
    <style type="text/css">
        a:not([href]):not([tabindex]) {
            color: #fff;
            cursor: pointer;
        }
    </style>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card ribbon-box">
                <div class="card-body">
                    <div class="ribbon ribbon-primary float-left"><i class="mdi mdi-access-point mr-1"></i> Editar Fornecedor</div>
                    <h5 class="text-primary float-right mt-0"></h5>
                    <div class="ribbon-content">

                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" maxlength="100" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Documento" class="control-label"></label>
                                <input asp-for="Documento" maxlength="14" class="form-control" />
                                <span asp-validation-for="Documento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TipoFornecedor" class="control-label"></label><br />
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="1" id="customRadio1" asp-for="TipoFornecedor" checked="@(Model.TipoFornecedor == 1)" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Pessoa Física</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="2" id="customRadio2" asp-for="TipoFornecedor" checked="@(Model.TipoFornecedor == 2)" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Pessoa Júridica</label>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="Ativo" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"> @Html.DisplayNameFor(model => model.Ativo)</label>
                                </div>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                                <a class="btn btn-info" asp-action="Index">Voltar</a>
                            </div>
                        </form>

                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

</div>

<div id="EnderecoTarget">
    <partial name="_DetalhesEndereco" />
</div>


<!-- Modal -->

<div id="primary-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="AtualizarEndereco" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"  asp-for="Endereco.FornecedorId" />
            <input type="hidden" asp-for="Endereco.Id" />


            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title" id="primary-header-modalLabel">
                        Alteração do endereço : <text class=" nome font-weight-bold"></text>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">

                    <partial name="_Endereco" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="eviarAjax">Salvar</button>
                </div>
            </div><!-- /.modal-content -->
        </form>

    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>


        function ExibirModal(idRecebido, nome) {
            $(".nome")[0].innerHTML = nome;
            $(".modal").modal();

        };

    
        BuscaCep();


        $(document).ready(function () {

             $("#eviarAjax").click(function (event) {

                var formulario = $("#formulario");

                 $.ajax({

                    url: "/Fornecedores/AtualizarEndereco",
                    data: formulario.serialize(),
                    method: "POST",
                    success: function (resultado) {
                        if (resultado.result) {
                            alert(resultado.mensaje);
                            window.location.href = '@Url.Action("Edit", "Fornecedores")';
                        }
                        else {
                            alert(resultado.mensaje);
                        }
                    }
                });
             });

        });


</script>

}

